<% layout('layouts/boilerplate')%>

<div class="container">
  <form action="#" class="validated-form">
    <div class="row gx-5">
      <div class="col-lg-8">
        <div class="row mt-2">

          <h4 class="text-dark">
            <i class="fa-sharp fa-solid fa-buildings"></i> Company Details
          </h4>
          <hr />

          <div class="mb-2 col-md-6">
            <label for="company" class="form-label text-muted">Company</label>
            <input type="text" value="<%= deal.company %>" class="form-control" id="company" placeholder="Joe's Automotive" name="deal[company]"disabled/>
          </div>

          <div class="mb-2 col-md-3">
            <label for="hot" class="form-label text-muted">Hot</label>
            <select id="hot" class="form-select" value="<% deal.hot %>" name="deal[hot]" disabled>
              <option selected>Choose One</option>
              <% if(deal.hot) { %>
              <option value="true" selected>
                True
              </option>
              <option value="false">False</option>
              <% } else { %>
              <option value="true">True</option>
              <option value="false" selected>
                False
              </option>
              <% } %>
            </select>
          </div>

          <div class="mb-2 col-md-3">
            <label for="hd" class="form-label text-muted">HD</label>
            <select id="hd" class="form-select" aria-label="Default select example" disabled>
              <option>Choose One</option>
              <% if(deal.hd) {%>
              <option value="True" selected>
                True
              </option>
              <option value="False">False</option>
              <% } else { %>
              <option value="true">True</option>
              <option value="false" selected>
                False
              </option>
              <% } %>
            </select>
          </div>

          <div class="mb-2 col-md-6">
            <label for="address" class="form-label text-muted">Address</label>
            <input type="text" class="form-control" value="<%= deal.street  %>" id="address" placeholder="123 Main Street" disabled/>
          </div>

          <div class="mb-2 col-md-2">
            <label for="city" class="form-label text-muted">City</label>
            <input type="text" value="<%= deal.city  %>" class="form-control" id="city" placeholder="Jacksonville" disabled/>
          </div>

          <div class="mb-2 col-md-2">
            <label for="state" class="form-label text-muted">State</label>
            <input type="text" value="<%= deal.state  %>" class="form-control" id="state" placeholder="Florida" disabled/>
          </div>

          <div class="mb-2 col-md-2">
            <label for="zip" class="form-label text-muted">Zip</label>
            <input type="number" value="<%= deal.zip  %>" class="form-control" id="zip" placeholder="32210" disabled/>
          </div>

          <div class="mb-2 col-md-4">
            <label for="phone" class="form-label text-muted">Phone <i class="fa-sharp fa-solid fa-phone-intercom"></i></label>
            <a href="tel:<%= deal.companyPhone  %>">
              <input type="tel" value="<%= deal.companyPhone  %>" oninput="formatPhoneNumber(event)" maxlength="14" class="form-control" id="phone" placeholder="(904) 555-5555" disabled/>
            </a>
          </div>

          <div class="mb-2 col-md-4">
            <label for="linkedin" class="form-label text-muted">LinkedIn <i class="fa-solid fa-arrow-up-right-from-square"></i></label>
            <a href="<%= deal.contactLinkedin  %>" target="_blank" rel="noopener noreferrer">
              <input type="url" value="<%= deal.contactLinkedin  %>" class="form-control" id="linkedin" placeholder="www.linkedin.com" disabled/>
            </a>
          </div>

          <div class="mb-4 col-md-4">
            <label for="website" class="form-label text-muted">Website <i class="fa-solid fa-arrow-up-right-from-square"></i></label>
            <a href="<%= deal.companyWebsite  %>" target="_blank" rel="noopener noreferrer">
              <input type="url" value="<%= deal.companyWebsite  %>" class="form-control" id="website" placeholder="www.yourwebsite.com" disabled/>
            </a>
          </div>
        </div>

        <div class="row mt-4">
          <h4 class="text-dark">
            <i class="fa-solid fa-display-chart-up-circle-dollar"></i> Deal Details
          </h4>
          <hr />

          <div class="mb-2 col-md-6">
            <label for="dealName" class="form-label text-muted">Deal Name</label>
            <input name='deal[dealName]' type="text" value="<%= deal.dealName  %>" class="form-control" id="dealName" placeholder="HawkEye Elite" disabled/>
          </div>

          <div class="mb-2 col-md-2">
            <label for="priority" class="form-label text-muted">Priority</label>
            <select id="priority" class="form-select" aria-label="Default select example" disabled>
              <option selected>Choose</option>
              <option value="choose" <% if (deal.priority ==="choose"){ %> selected <% } %>>Choose</option>
              <option value="11" <% if (deal.priority === 11){ %> selected <% } %>>11</option>
              <option value="10" <% if (deal.priority === 10){ %> selected <% } %>>10</option>
              <option value="9" <% if (deal.priority === 9){ %> selected <% } %>>9</option>
              <option value="8" <% if (deal.priority === 8){ %> selected <% } %>>8</option>
              <option value="7" <% if (deal.priority === 7){ %> selected <% } %>>7</option>
              <option value="6" <% if (deal.priority === 6){ %> selected <% } %>>6</option>
              <option value="5" <% if (deal.priority === 5){ %> selected <% } %>>5</option>
              <option value="4" <% if (deal.priority === 4){ %> selected <% } %>>4</option>
              <option value="3" <% if (deal.priority === 3){ %> selected <% } %>>3</option>
              <option value="2" <% if (deal.priority === 2){ %> selected <% } %>>2</option>
              <option value="1" <% if (deal.priority === 1){ %> selected <% } %>>1</option>
            </select>
          </div>

          <div class="mb-2 col-md-2">
            <label for="createDate" class="form-label text-muted">Created</label>
            <% let createDate = deal.createDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }); %>
            <p class="pt-1"><%= createDate %></p>
          </div>

          <div class="mb-2 col-md-2">
            <label for="daysOpen" class="form-label text-muted">Days Open</label>
            <input type="number" value="<%= deal.daysOpen  %>" class="form-control" id="daysOpen" placeholder="35" disabled />
          </div>

          <div class="mb-2 col-md-3">
            <label for="stage" class="form-label text-muted">Stage</label>
            <select class="form-select" name="deal[stage]" disabled>
              <option value="Choose One" <% if (deal.stage === "Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="lead" <% if (deal.stage ==="lead"){ %> selected <% } %>>Lead</option>
              <option value="inquiry" <% if (deal.stage === "inquiry"){ %> selected <% } %>>Inquiry</option>
              <option value="qualified" <% if (deal.stage === "qualified"){ %> selected <% } %>>Qualified</option>
              <option value="demo" <% if (deal.stage === "demo"){ %> selected <% } %>>Demo</option>
              <option value="negotiation" <% if (deal.stage ==="negotiation"){ %> selected <% } %>>Negotiation</option>
              <option value="closure" <% if (deal.stage ==="closure"){ %> selected <% } %>>Closure</option>
            </select>
          </div>

          <div class="mb-2 col-md-3">
            <label for="status" class="form-label text-muted">Status</label>
            <select class="form-select" aria-label="Default select example" disabled>
              <option value="Choose One" <% if (deal.status ==="Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="open" <% if (deal.status ==="open"){ %> selected <% } %>>Open</option>
              <option value="won" <% if (deal.status ==="won"){ %> selected <% } %>>Won</option>
              <option value="lost" <% if (deal.status ==="lost"){ %> selected <% } %>>Lost</option>
              <option value="inactive" <% if (deal.status ==="inactive"){ %> selected <% } %>>Inactive</option>
            </select>
          </div>

          <div class="mb-2 col-md-2">
            <label for="value" class="form-label text-muted">Value</label>
            <input type="text" value="<%= deal.value %>" class="form-control input-group" id="value" placeholder="$35,000" disabled/>
          </div>

          <div class="mb-2 col-md-2">
            <label for="activityDate" class="form-label text-muted">Activity Date</label>
            <% let lastActivityDate = deal.lastActivityDate.toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: 'numeric' }); %>
            <p class="pt-1"><%= lastActivityDate %></p>
          </div>

          <div class="mb-2 col-md-2">
            <label for="daysLastActivity" class="form-label text-muted">Last Activity</label>
            <input type="number" value="<%= deal.lastActivityDays  %>" class="form-control" id="daysLastActivity" placeholder="85" disabled />
          </div>

          <div class="col-lg-6 mb-2">
            <label for="market" class="form-label text-muted">Segment</label>
            <select class="form-select" aria-label="Default select example" disabled>
              <option value="Choose One" <% if (deal.segment ==="Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="Auto Dealer" <% if (deal.segment ==="Auto Dealer"){ %> selected <% } %>>Auto Dealer</option>
              <option value="Tire Dealer" <% if (deal.segment ==="Tire Dealer"){ %> selected <% } %>>Tire Dealer</option>
              <option value="General Repair" <% if (deal.segment ==="General Repair"){ %> selected <% } %>>General Repair</option>
              <option value="Body Shop" <% if (deal.segment ==="Body Shop"){ %> selected <% } %>>Body Shop</option>
              <option value="Government" <% if (deal.segment ==="Government"){ %> selected <% } %>>Government</option>
              <option value="Specialty" <% if (deal.segment ==="Specialty"){ %> selected <% } %>>Specialty</option>
            </select>
          </div>

          <div class="col-lg-6 mb-2">
            <label for="zone" class="form-label text-muted">Zone</label>
            <select class="form-select" name="deal[zone]" disabled>
              <option value="Choose One" <% if (deal.zone ==="Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="jacksonville" <% if (deal.zone ==="jacksonville"){ %> selected <% } %>>Jacksonville</option>
              <option value="waycross" <% if (deal.zone ==="waycross"){ %> selected <% } %>>Waycross</option>
              <option value="yulee" <% if (deal.zone ==="yulee"){ %> selected <% } %>>Yulee</option>
              <option value="kingsland" <% if (deal.zone ==="kingsland"){ %> selected <% } %>>Kingsland</option>
              <option value="brunswick" <% if (deal.zone ==="brunswick"){ %> selected <% } %>>Brunswick</option>
            </select>
          </div>

          <div class=" mb-2 col-lg-6">
            <label for="source" class="form-label text-muted">Lead Source</label>
            <select class="form-select" name="deal[source]" disabled>
              <option value="Choose One" <% if (deal.source ==="Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="Asbury Group" <% if (deal.source ==="Asbury Group"){ %> selected <% } %>>Asbury Group</option>
              <option value="AutoNation" <% if (deal.source ==="AutoNation"){ %> selected <% } %>>AutoNation</option>
              <option value="Dealer Solutions & Design" <% if (deal.source ==="Dealer Solutions & Design"){ %> selected <% } %>>Dealer Solutions & Design</option>
              <option value="DES" <% if (deal.source ==="DES"){ %> selected <% } %>>DES</option>
              <option value="Florida Equipment" <% if (deal.source ==="Florida Equipment"){ %> selected <% } %>>Florida Equipment</option>
              <option value="Florida Tire Supply" <% if (deal.source ==="Florida Tire Supply"){ %> selected <% } %>>Florida Tire Supply</option>
              <option value="HELM" <% if (deal.source ==="HELM"){ %> selected <% } %>>HELM</option>
              <option value="Hunter" <% if (deal.source ==="Hunter"){ %> selected <% } %>>Hunter</option>
              <option value="Independent Tire Dealer Group" <% if (deal.source ==="Independent Tire Dealer Group"){ %> selected <% } %>>Independent Tire Dealer Group</option>
              <option value="Lewis Tool" <% if (deal.source ==="Lewis Tool"){ %> selected <% } %>>Lewis Tool</option>
              <option value="Mohawk" <% if (deal.source ==="Mohawk"){ %> selected <% } %>>Mohawk</option>
              <option value="Mongoose" <% if (deal.source ==="Mongoose"){ %> selected <% } %>>Mongoose</option>
              <option value="Morgan Auto Group" <% if (deal.source ==="Morgan Auto Group"){ %> selected <% } %>>Morgan Auto Group</option>
              <option value="National Account - A Quota" <% if (deal.source ==="National Account - A Quota"){ %> selected <% } %>>National Account - A Quota</option>
              <option value="National Account - B Quota" <% if (deal.source ==="National Account - B Quota"){ %> selected <% } %>>National Account - B Quota</option>
              <option value="Rotunda / Ford" <% if (deal.source ==="Rotunda / Ford"){ %> selected <% } %>>Rotunda / Ford</option>
              <option value="Smith Garage Equipment" <% if (deal.source ==="Smith Garage Equipment"){ %> selected <% } %>>Smith Garage Equipment</option>
              <option value="Snap-on Business Solutions" <% if (deal.source ==="Snap-on Business Solutions"){ %> selected <% } %>>Snap-on Business Solutions</option>
              <option value="Southern Equipment" <% if (deal.source ==="Southern Equipment"){ %> selected <% } %>>Southern Equipment</option>
              <option value="Tire Pros / ATD" <% if (deal.source ==="Tire Pros / ATD"){ %> selected <% } %>>Tire Pros / ATD</option>
            </select>
          </div>


          <div class=" mb-2 col-lg-6">
            <label for="source" class="form-label text-muted">Distributor</label>
            <select class="form-select" name="deal[distributor]" disabled>
              <option value="Choose One" <% if (deal.distributor ==="Choose One"){ %> selected <% } %>>Choose One</option>
              <option value="Asbury Group" <% if (deal.distributor ==="Asbury Group"){ %> selected <% } %>>Asbury Group</option>
              <option value="AutoNation" <% if (deal.distributor ==="AutoNation"){ %> selected <% } %>>AutoNation</option>
              <option value="Dealer Solutions & Design" <% if (deal.distributor ==="Dealer Solutions & Design"){ %> selected <% } %>>Dealer Solutions & Design</option>
              <option value="DES" <% if (deal.distributor ==="DES"){ %> selected <% } %>>DES</option>
              <option value="Florida Equipment" <% if (deal.distributor ==="Florida Equipment"){ %> selected <% } %>>Florida Equipment</option>
              <option value="Florida Tire Supply" <% if (deal.distributor ==="Florida Tire Supply"){ %> selected <% } %>>Florida Tire Supply</option>
              <option value="HELM" <% if (deal.distributor ==="HELM"){ %> selected <% } %>>HELM</option>
              <option value="Hunter" <% if (deal.distributor ==="Hunter"){ %> selected <% } %>>Hunter</option>
              <option value="Independent Tire Dealer Group" <% if (deal.distributor ==="Independent Tire Dealer Group"){ %> selected <% } %>>Independent Tire Dealer Group</option>
              <option value="Lewis Tool" <% if (deal.distributor ==="Lewis Tool"){ %> selected <% } %>>Lewis Tool</option>
              <option value="Mohawk" <% if (deal.distributor ==="Mohawk"){ %> selected <% } %>>Mohawk</option>
              <option value="Mongoose" <% if (deal.distributor ==="Mongoose"){ %> selected <% } %>>Mongoose</option>
              <option value="Morgan Auto Group" <% if (deal.distributor ==="Morgan Auto Group"){ %> selected <% } %>>Morgan Auto Group</option>
              <option value="National Account - A Quota" <% if (deal.distributor ==="National Account - A Quota"){ %> selected <% } %>>National Account - A Quota</option>
              <option value="National Account - B Quota" <% if (deal.distributor ==="National Account - B Quota"){ %> selected <% } %>>National Account - B Quota</option>
              <option value="Rotunda / Ford" <% if (deal.distributor ==="Rotunda / Ford"){ %> selected <% } %>>Rotunda / Ford</option>
              <option value="Smith Garage Equipment" <% if (deal.distributor ==="Smith Garage Equipment"){ %> selected <% } %>>Smith Garage Equipment</option>
              <option value="Snap-on Business Solutions" <% if (deal.distributor ==="Snap-on Business Solutions"){ %> selected <% } %>>Snap-on Business Solutions</option>
              <option value="Southern Equipment" <% if (deal.distributor ==="Southern Equipment"){ %> selected <% } %>>Southern Equipment</option>
              <option value="Tire Pros / ATD" <% if (deal.distributor ==="Tire Pros / ATD"){ %> selected <% } %>>Tire Pros / ATD</option>
            </select>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <h4 class="text-dark">
              <i class="fa-solid fa-address-book"></i> Contact Details
            </h4>

            <hr />

            <div class="row">
              <div class="col-md-6">

                <div class="mb-2">
                  <label for="contactName" class="form-label text-muted">Contact Name</label>
                  <input type="text" value="<%= deal.contact  %>" class="form-control" id="contactName" placeholder="Jane Doe" disabled/>
                </div>

                <div class="mb-2">
                  <label for="directPhone" class="form-label text-muted">Direct Phone <i class="fa-sharp fa-solid fa-phone-intercom"></i></label>
                  <a href="tel:<%= deal.contactDirect  %>">
                    <input type="tel" value="<%= deal.contactDirect  %>" oninput="formatPhoneNumber(event)" maxlength="14" class="form-control" id="directPhone" placeholder="(904) 555-5555" disabled/>
                  </a>
                </div>

                <div class="mb-2">
                  <label for="linkedin" class="form-label text-muted">LinkedIn <i class="fa-solid fa-arrow-up-right-from-square"></i> </label>
                  <a href="<%= deal.contactLinkedin  %>" target="_blank" rel="noopener noreferrer">
                    <input value="<%= deal.contactLinkedin  %>" type="url" class="form-control" id="linkedin" placeholder="www.linkedin.com" disabled />
                  </a>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-2">
                  <label for="contactEmail" class="form-label text-muted">Contact Email <i class="fa-solid fa-envelope"></i></label>
                  <a href="mailto:<%= deal.contactEmail  %>">
                    <input type="email" value="<%= deal.contactEmail  %>" class="form-control" id="contactEmail" placeholder="JaneDoe@email.com" disabled/>
                  </a>
                </div>

                <div class="mb-2">
                  <label for="cellPhone" class="form-label text-muted">Cell Phone <i class="fa-solid fa-mobile-retro"></i></label>
                  <a href="tel:<%= deal.contactCell  %>">
                    <input type="tel" value="<%= deal.contactCell  %>" oninput="formatPhoneNumber(event)" maxlength="14" class="form-control" id="cellPhone" placeholder="(904) 555-5555" disabled/>
                  </a>
                </div>

                <div class="mb-2">
                  <label for="facebook" class="form-label text-muted">Facebook <i class="fa-solid fa-arrow-up-right-from-square"></i></label>
                  <a href="<%= deal.contactFB  %>" target="_blank"><input type="url" value="<%= deal.contactFB  %>" class="form-control" id="facebook" placeholder="www.facebook.com/" disabled/></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="row mt-2">
          <h4 class="text-dark">
            <i class="fa-solid fa-calendar-lines-pen"></i> History Details
          </h4>
          <hr />
         

          

          <div class="btn-group gap-1 mb-5 text-muted" role="group" aria-label="Basic example">
            <a href="/deals/<%= deal._id %>/edit" class="btn btn-dark mt-4">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

